.idea/
*.iml
out/
*.class
/bin/
/pkg/
/vendor/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.log
go.sum
go.work
go.work.sum
*.run.xml
*.ipr
*.iws
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/go.iml
.DS_Store
Thumbs.db
.env
/configs/api.toml
.toml